<h3> Flex Layout example </h3>
<div fxLayout="row" >
  <div fxFlex="100">
    <div fxFlex="50">50%</div>
    <div fxFlex="50">50%</div>
  </div>
</div>

<div fxLayout="row" >
  <div class="flex-container">
    <div class="serviceMainBox">
      <div class="serviceDetails">
        <div class="serviceTitle">
          Service
        </div>
        <div class="serviceInfo">
          <div class="serviceData">
            <span class="serviceDateTitle">Service Date</span>
            <span class="serviceDate">5/25/2017</span>
          </div>
          <div class="serviceData">
              <span class="serviceDateTitle">Service Day</span>
              <span class="serviceDate">456</span>
          </div>
        </div>  
      </div>
      <div class="discussionMainBox">
        <div class="serviceTitle">
            Discussion Touchpoints
        </div>  
        <div class="discussionPoints">
          <div class="discussionCircle">
              <span class="discussionIcon"><i class="far fa-check-circle"></i></span>
              <span class="discussionNumber">1</span>
          </div>
          <span><hr></span>
          <div class="discussionCircle">
              <span class="discussionIcon"><i class="far fa-check-circle"></i></span>
              <span class="discussionNumber">2</span>
          </div>
          <span><hr></span>
          <div class="discussionCircle">
              <span class="discussionIcon"><i class="far fa-check-circle"></i></span>
              <span class="discussionNumber">3</span>
          </div>
          <span><hr></span>
          <div class="discussionCircle">
              <span class="discussionIcon"><i class="far fa-check-circle"></i></span>
              <span class="discussionNumber">4</span>
          </div>
          <span><hr></span>
          <div class="discussionCircle">
              <span class="discussionIcon"><i class="far fa-check-circle"></i></span>
              <span class="discussionNumber">5</span>
          </div>
          <span><hr></span>
          <div class="discussionCircle">
              <span class="discussionIcon"><i class="far fa-check-circle"></i></span>
              <span class="discussionNumber">6</span>
          </div>
        </div>
        <div class="recordDiscussion"> 
          <i class="far fa-check-square"></i> RECORD NEW ONBOARDING DISCUSSION
        </div>
      </div>
    </div>
  </div>
</div>